#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: auto;
  border: 1px solid black;
  background-color: aliceblue;
  margin: auto;
}

#cobrasEscadas {
  position: absolute;
  display: absolute;
  flex-wrap: wrap;
  width: 1100px;
  height: auto;
  margin: auto;
}

#player1, #player2 {
  transition: top 0.5s, left 0.5s;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

/* Cobras */
#square34,
#square38,
#square43,
#square65,
#square86 {
  background-color: orange;
}

/* Escadas */
#square7,
#square14,
#square27,
#square41,
#square49,
#square60,
#square66,
#square82 {
  background-color: lightgreen;
}

#square100 {
  background-color: lightcoral;
}

#square5,
#square11,
#square17,
#square64,
#square36,
#square51,
#square59,
#square93,
#square30,
#square9 {
  background-color: lightblue;
}

#square78,
#square71,
#square1,
#square53,
#square95,
#square47,
#square22,
#square8 {
  background-color: lightpink;
}

#square99{
  background-color: darkred;
}


#player1,
#player2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#player1 {
  top: 550px;
  left: 50px;
  animation-name: player1-animation;
}

#player2 {
  background-color: blue;
  top: 550px;
  left: 150px;
  animation-name: player2-animation;
}


#roll-dice {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 805px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

#roll-dice:hover {
  background-color: #3e8e41;
}

#dice {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid black;
  position: relative;
  animation: roll 1s ease-out;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
}
#dice.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dice-number {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;

}